<style>
h1{
	color: #030007;
}
body{
padding:20px;
margin:30px;
background-color: lightgray;
}
img{
	width: 49%;


}
div{
	padding: 5%;
	width: 40%;
	background: teal;
	font-weight: bold;
	font-size: 20px;
	float: right;
}
li{
	color: #f90427;
	font-size: 20px;
	font-weight: bold;
	float: left;
	display: block;
	text-align: center;
	padding: 16px;
}
#sec{
	font-size: 15px;
	font-weight: bold;
	background-color: #2b2a2a;
	text-align: center;
}
table{
	border:2px solid red ;
	border-collapse: collapse;
	padding: 5%;
}
th{

	border:2px solid red;
	background-color: grey;
	padding: 5%;
	text-align: center;
}
td{
	border: 2px solid red;
	padding: 5%;
	text-align: center;
}
</style>